@{
    ViewBag.Title = "About";
}

<div class="row text-justify">
    <h1 class="text-center">About Us</h1>
    
    <div class="col-md-6">
        <img class="img-responsive img-rounded img-thumbnail"  src="@Url.Content("~/Images/about1.jpg")" />
    </div>        
    <div class="col-md-6">
        <p>
            MVC Realty started as a small company in mid 2000s... Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nulla sit amet sem eu mauris vehicula laoreet id viverra justo.
            Mauris eu porttitor risus. Nam sapien mi, fringilla sagittis sollicitudin porttitor, vestibulum a metus.
            Quisque finibus mauris in accumsan lobortis. Donec maximus massa eget neque dignissim fringilla. Suspendisse
            hendrerit justo ut rutrum elementum. Sed porttitor purus nec ipsum pellentesque luctus. Suspendisse dictum leo
            eu lorem porta, a posuere dui semper. Fusce ac placerat diam. Sed sit amet nulla eget nisi pulvinar condimentum
            ut quis arcu.

            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nulla sit amet sem eu mauris vehicula laoreet id viverra justo.
            Mauris eu porttitor risus. Nam sapien mi, fringilla sagittis sollicitudin porttitor, vestibulum a metus.
            Quisque finibus mauris in accumsan lobortis. Donec maximus massa eget neque dignissim fringilla. Suspendisse
            hendrerit justo ut rutrum elementum. Sed porttitor purus nec ipsum pellentesque luctus. Suspendisse dictum leo
            eu lorem porta, a posuere dui semper. Fusce ac placerat diam. Sed sit amet nulla eget nisi pulvinar condimentum
            ut quis arcu.
        </p>
    </div>
   
</div>

<div class="row text-justify">
    <div class="col-md-12 margin-top-20px">
        <p>
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nulla sit amet sem eu mauris vehicula laoreet id viverra justo.
            Mauris eu porttitor risus. Nam sapien mi, fringilla sagittis sollicitudin porttitor, vestibulum a metus.
            Quisque finibus mauris in accumsan lobortis. Donec maximus massa eget neque dignissim fringilla. Suspendisse
            hendrerit justo ut rutrum elementum. Sed porttitor purus nec ipsum pellentesque luctus. Suspendisse dictum leo
            eu lorem porta, a posuere dui semper. Fusce ac placerat diam. Sed sit amet nulla eget nisi pulvinar condimentum
            ut quis arcu.
        </p>
    </div>
</div>

<div class="row text-justify">
    <h2 class="text-center">Our Team</h2>
    <div class="col-md-6">
        <img class="img-responsive img-rounded img-thumbnail" src="@Url.Content("~/Images/about2.jpg")" />
    </div>
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nulla sit amet sem eu mauris vehicula laoreet id viverra justo.
                Mauris eu porttitor risus. Nam sapien mi, fringilla sagittis sollicitudin porttitor, vestibulum a metus.
                Quisque finibus mauris in accumsan lobortis. Donec maximus massa eget neque dignissim fringilla. Suspendisse
                hendrerit justo ut rutrum elementum. Sed porttitor purus nec ipsum pellentesque luctus. Suspendisse dictum leo
                eu lorem porta, a posuere dui semper. Fusce ac placerat diam. Sed sit amet nulla eget nisi pulvinar condimentum
                ut quis arcu.
            </p>
            <p>
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nulla sit amet sem eu mauris vehicula laoreet id viverra justo.
                Mauris eu porttitor risus. Nam sapien mi, fringilla sagittis sollicitudin porttitor, vestibulum a metus.
                Quisque finibus mauris in accumsan lobortis. Donec maximus massa eget neque dignissim fringilla. Suspendisse
                hendrerit justo ut rutrum elementum. Sed porttitor purus nec ipsum pellentesque luctus. Suspendisse dictum leo
                eu lorem porta, a posuere dui semper. Fusce ac placerat diam. Sed sit amet nulla eget nisi pulvinar condimentum
                ut quis arcu.
            </p>
        </div>
    </div>